.grid {
  margin: 10px;
}

.card {
  background-color: #2C394B;
  height: 100%;
  width: 100%;
  padding: 2%;
  align-self: center;
  border-radius: 4%;
  font-size: 20px;
  color: white;
  overflow-x: hidden;
}

.task {
  background-color: #334756;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  overflow-x: hidden;
}

.addBy {
  text-align: end;
  color: aqua;
}

.numberIndicator{
  float: left;
  width: 30px;
  text-align: center;
  margin-right: 5px;
  background-color: gray;
  border-radius: 50%;
}

.cardBar {
  margin-top: -4px;
}